@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.Start" OnClick="@DrawerToggle" />
        <h3 class="brand">GO Ticket</h3>
    </MudAppBar>
    <MudDrawer Width="200px" Elevation="1" @bind-Open="@_drawerOpen" Color="Color.Dark">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6" Class="nav" Color="Color.Tertiary">Go Ticket</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>
            <MudDivider />
            <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.Prefix">Home</MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.DirectionsBus" Href="/buses" Match="NavLinkMatch.Prefix">Bus</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Route" Href="/pages/busroutes" Match="NavLinkMatch.Prefix">Bus Routes</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Wallet" Href="/fares" Match="NavLinkMatch.Prefix">Ticket fares</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Event" Href="/schedules" Match="NavLinkMatch.Prefix">Schedules</MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.Man" Href="/passenger" Match="NavLinkMatch.Prefix">Passenger</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Man3" Href="/agents" Match="NavLinkMatch.Prefix">Agent</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.AirplaneTicket" Href="/booking" Match="NavLinkMatch.Prefix">Booking</MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.Payment" Href="/payment" Match="NavLinkMatch.Prefix">Payment</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Cancel" Href="/cancellation" Match="NavLinkMatch.Prefix">Cancellation</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Undo" Href="/refund" Match="NavLinkMatch.Prefix">Refund</MudNavLink>

            <MudNavLink Icon="@Icons.Material.Filled.EventSeat" Href="/seatPlan" Match="NavLinkMatch.Prefix">SeatPlan</MudNavLink>

        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}